body, h2
{
  background-color: beige;
  font: italic 16px Arial, sans-serif;
  color: blue;
  text-align: center;
}
h1 {
  text-align: center;
}
a {
  color: green;
}
#central_image {
  text-align: center;
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#second_image {
  width: 50%;
  height: 50%;
}
#third_image {
  width: 50%;
  height: 50%;
}
.definition {
  padding: 2% 2%;
  background-position: center;
}
ul {
  list-style-type: none;
}